.two-storey {
    max-width: 100%;
    display: flex;
    gap: 126px;
    padding: 80px 120px;
}
@media screen and (max-width: 767px) {
    .two-storey {
        flex-wrap: wrap;
        padding: 30px 30px;
        row-gap: 0;
        column-gap: 200px;
    }  
}