.cover__img_position_absolute {
    position: absolute;
    top: 81px;
    right: 204px;
}
/**/
@media screen and (max-width: 767px) {
    .cover__img_position_absolute {
        top: 57px;
        right: 108px;
    }   
}