.selection__card-image {
    /*max-width: 384px;
    max-height: 489px;*/
    margin-bottom: 32px;
    object-fit: cover;
}
/*как я думаю*/
.selection__card-image {
    width: 100%;
}
@media screen and (max-width: 767px) {
    .selection__card-image {
        margin-bottom: 30px;
    }
}