.selection__button {
    width: 153px;
    height: 51px;
    text-align: center;
    margin-bottom: 88px;
}
@media screen and (max-width: 1023px) {
    .selection__button {
        margin-bottom: 30px;
    }  
}