.cover__subtitle {
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #848FAC;
    margin-bottom: 59px;
}
@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 16px;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 12px;
    }   
}