.header {
    margin: 0 auto;
    padding: 41px 120px 32px 120px;
    max-width: 100%;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1023px) {
    .header {
        padding: 30px 30px;
    }   
}
@media screen and (max-width: 767px) {
    .header {
        flex-direction: column;
    }   
}