.cover__info {
    margin-top: 111px;
    max-width: 587px;
}

@media screen and (max-width: 1023px) {
    .cover__info {
        text-align: center;
        margin-top: 80px;
    }   
}
@media screen and (max-width: 767px) {
    .cover__info {
        max-width: 320px;
        margin-top: 0;
    }   
}
