.cover {
    width: 100%;
    margin: 0 auto;
    padding: 80px 120px 96px 120px;
    box-sizing: border-box;
    display: flex;
    gap: 24px;
}
/*адаптив*/
@media screen and (max-width: 1024px) {
    .cover {
        flex-wrap: wrap-reverse;
    }    
}
@media screen and (max-width: 767px) {
    .cover {
        padding: 30px 30px;
        justify-content: center;
    }    
}