.selection__text {
    margin: 0;
    margin-bottom: 32px;
    max-width: 588px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #848FAC;
    text-align: center;
}
@media screen and (max-width: 767px) {
    .selection__text {
        font-size: 16px;
        margin-bottom: 12px;
    }
}