.cover__image {
    display: flex;
    max-width: 588px;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    gap: 228px;
}
/**/
@media screen and (max-width: 767px) {
    .cover__image {
        max-width: 319px;
        gap: 113px;
    }   
}