.footer__icon-container {
    display: flex;
    gap: 20px;
}
@media screen and (max-width: 767px) {
    .footer__icon-container {
        flex-basis: content;
        justify-content: center;
    }  
}